[submodule "yellow-server"]
	path = yellow-server
	url = https://github.com/libersoft-org/yellow-server
[submodule "yellow-admin"]
	path = yellow-admin
	url = https://github.com/libersoft-org/yellow-admin
[submodule "yellow-client"]
	path = yellow-client
	url = https://github.com/libersoft-org/yellow-client
[submodule "yellow-server-common"]
	path = yellow-server-common
	url = https://github.com/libersoft-org/yellow-server-common
[submodule "yellow-server-module-messages"]
	path = yellow-server-module-messages
	url = https://github.com/libersoft-org/yellow-server-module-messages
[submodule "yellow-client-native"]
	path = yellow-client-native
	url = https://github.com/libersoft-org/yellow-client-native/
[submodule "yellow-client-common"]
	path = yellow-client-common
	url = https://github.com/koo5/yellow-client-common
